/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
}

a {
    color: purple;
    /* color: #444; */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    background-color: #1e1e1e;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #ccc;
}

/* Sign-Up Section */
.sign-up {
    padding: 40px 0;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.sign-up h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #555;
}

.sign-up p {
    font-size: 1rem;
    max-width: 720px;
    margin: 0 auto 20px;
    color: #666;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 10px;
    color: #666;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
}

button:hover {
    background-color: #444;
}

/* The Hike Section */
.the-hike {
    padding: 40px 0;
    background-color: #f4f4f4;
}

.the-hike h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #555;
}

.the-hike p {
    font-size: 1rem;
    max-width: 720px;
    margin: 0 auto;
    color: #666;
}

.parking-img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 20px auto;
    display: block;
    border-radius: 8px;
}

/* The Dinner Section */
.the-dinner {
    padding: 40px 0;
    background-color: #fff;
}

.the-dinner h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #555;
}

.the-dinner p {
    font-size: 1rem;
    max-width: 720px;
    margin: 0 auto;
    color: #666;
}

.bold-text {
	font-weight: bold;
}
/* Footer */
footer {
    background-color: #1e1e1e;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 0.9rem;
    color: #888;
}
